@import '../common.less';
@import './components/index.less';

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f2f3f8;
}

.sign-container {
  ._box_shadow;

  padding: 20px 40px 40px;
  width: 320px;

  border-radius: 4px;
  background-color: @white;

  &-title {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 500;
    font-style: italic;
    color: @primary-color;
    text-align: center;
  }
  &-description {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    color: @primary-color;
    text-align: center;
  }

  .input-block {
    margin-bottom: 15px;
  }

  .button {
    margin-top: 15px;
  }

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
