@import (less) "~normalize.css/normalize.css";

@import (less) "~bootstrap/dist/css/bootstrap.css";

@import "colors";
@import "variables";

body,
input,
button,
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.flex {
  display: flex;
}

.h100 {
  height: 100%;
}

a,
a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
}

*,
*:hover,
*:focus {
  outline: none !important;
}
