@import "../common";

@import "table";

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.__header-line {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: calc(100% / 2);
  background-color: @tertiary-color;
  transform: translateY(-50%);
}

header {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: 50px;

  background-color: @primary-color;
  color: @white;
}

.header {
  &-burger {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color @transition;

    &::after {
      .__header-line;

      height: 100%;
      background-color: @secondary-color;
    }

    &:hover {
      background-color: @secondary-color;

      svg {
        fill: @white;
      }
    }

    svg {
      margin-left: -3px;
      width: 25px;
      height: 25px;
      fill: @inactive-color;
      transition: fill @transition;
    }
  }

  &-logo {
    display: flex;
    align-items: center;

    position: relative;
    padding-right: 20px;
    margin-left: 20px;
    height: 100%;

    &-content {
      display: flex;
      align-items: center;

      padding: 0 12px;
      height: calc(100% / 2);
      font-style: italic;
      background-color: @backdrop-color;
      border-radius: 6px;
    }

    &::after {
      .__header-line;
    }
  }

  &-user {
    display: flex;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    font-weight: 500;
    background-color: transparent;
    transition: background-color @transition;
    cursor: pointer;

    &:hover {
      background-color: @secondary-color;

      svg {
        fill: @white
      }
    }

    svg {
      margin-left: 10px;
      width: 12px;
      height: 12px;
      transform: rotate(90deg);
      fill: @inactive-color;
      transition: fill @transition;
    }
  }
}

.navigation {
  position: relative;
  width: 50px;

  &-content {
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: @primary-color;
    border-top: 1px solid @secondary-color;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    transition: width @transition;

    &::after {
      .__header-line;

      top: 0;
      left: 49px;
      bottom: 0;
      width: 1px;
      height: 100%;
      background-color: @secondary-color;
      z-index: 0;
      transform: none;
    }

    &.opened {
      width: 250px;
    }

    .separator {
      display: flex;
      align-items: center;
      white-space: nowrap;
      width: 100%;
      height: 25px;

      .icon {
        display: block;
        position: relative;
        width: 50px;
        height: 25px;

        &::before,
        &::after {
          .__header-line;

          height: 100%;
          background-color: @secondary-color;
          z-index: 1;
        }

        &::after {
          top: 0;
          height: 100%;
          transform: none;
        }

        &::before {
          top: 50%;
          left: 50%;
          width: 25px;
          height: 1px;
          transform: translate(-50%, -50%);
        }
      }

      .text {
        flex: 1;
        position: relative;
        height: 100%;

        &::before {
          .__header-line;

          top: 50%;
          left: 50%;
          width: calc(100% - 40px);
          height: 1px;
          background-color: @secondary-color;
          transform: translate(-50%, -50%);
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      white-space: nowrap;
      padding-right: 20px;
      width: 100%;
      height: 50px;
      color: @inactive-color;
      background-color: transparent;
      transition: background-color @transition,
      color @transition;
      cursor: pointer;

      &:hover,
      &.current {
        color: @white;

        svg {
          fill: @white;
        }
      }

      &:hover {
        background-color: @secondary-color;

        span {
          &::after {
            background-color: @tertiary-color;
          }
        }
      }

      span {
        position: relative;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;

        margin-right: 20px;
        width: 50px;
        height: 100%;

        &::after {
          .__header-line;

          top: 0;
          height: 100%;
          background-color: @secondary-color;
          transition: background-color @transition;
          transform: none;
          z-index: 1;
        }
        svg {
          display: flex;
          flex-shrink: 0;

          margin-left: -4px;
          width: 22px;
          height: 22px;
          fill: @inactive-color;
          transition: fill @transition;
        }
      }
    }
  }
}

.content {
  padding: 20px;
  width: 100%;
}

